<div class = wrapper>
  <h1>製造中銘柄状況</h1>
  <div class = brand>
    <h2 class = brand__name>セブンスター</h2>
    <div class = production__statu>
      <div class = production__statu__plan>計画製造数
        <div class = production__statu__plan-number>2000</div>
      </div>
      <div class = production__statu__remaining-number>残製造数量
        <div class = production__statu__remaining>1000</div>
      </div>
    </div>
  </div>
  <div class = material__contents>
    <div class = material__title>供給材料状況
      <table class = material__title__table>
        <tr>
          <td>刻み</td>
          <td>１P</td>
          <td>刻みを追加する</td>
          <td>判定</td>
          <td>足りてます</td>
        </tr>
        <tr>
          <td>巻紙</td>
          <td>１P</td>
          <td>巻紙を追加する</td>
          <td>判定</td>
          <td>足りません</td>
        </tr>
        <tr>
          <td>小箱</td>
          <td>１P</td>
          <td>小箱を追加する</td>
          <td>判定</td>
          <td>足りてます</td>
        </tr>
         <tr>
          <td>フィルター</td>
          <td>１P</td>
          <td>フィルターを追加する</td>
          <td>判定</td>
          <td>足りてます</td>
        </tr>
      </table>
    </div>
  </div>
</div>