// Place all the styles related to the manufacturing_statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand__name {
  color: blue;
}
.Judgment_true {
  color: blue
}
.Judgment_false {
  color: red
}