<div class = wrapper>
  <h1>材料一覧</h1>
  <div>検索</div>
  <div>新規登録</div>
  <div>製造一覧へ戻る</div>
  <div>検索</div>
  <div class = material__contents>
    <table class = material__table>
      <tr>
        <td>銘柄名</td>
        <td>刻み</td>
        <td>巻紙</td>
        <td>小箱</td>
        <td>フィルター</td>
      </tr>
      <tr>
        <td>セブンスター</td>
        <td>A11</td>
        <td>B12</td>
        <td>C11</td>
        <td>D12</td>
      </tr>
    </table>
  </div>
</div>