<div class = wrapper>
  <h1>登録、確認したい材料を選択して下さい</h1>
  <%= link_to "刻み", cigarette_shreds_path %>
    <div class="material__path"></div>
  <%= link_to "巻紙", paper_rolls_path %>
    <div class="material__path"></div>
  <%= link_to "小箱", small_boxes_path %>
    <div class="material__path"></div>
  <%= link_to "フィルター", filters_path %>
    <div class="material__path"></div>
</div>